* {
    margin: 0;
}

.clock {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: silver;
}

.clock-face {
    background-color: black;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    position: relative;
}

.time {
    display: none;
}

.arrows {
    position: absolute;
    top: 50%;
}

.arrow-hours {
    position: absolute;
    height: 150px;
    width: 9px;
    background: white;
    bottom: 50%;
    transform-origin: bottom;
    transform: rotate(17deg);
}

.arrow-minutes {
    position: absolute;
    height: 210px;
    width: 8px;
    background: whitesmoke;
    bottom: 50%;
    transform-origin: bottom;
    transform: rotate(45deg);
}

.arrow-seconds {
    position: absolute;
    height: 220px;
    width: 4px;
    background: red;
    bottom: 50%;
    transform-origin: bottom;
    transform: rotate(80deg);
}

.tags {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.numbers {
    font-size: 50px;
    color: white;
    transform-origin: 100% 26px;
    transform: rotate(0deg);
    position: absolute;
    width: 230px;
    height: 50px;
}

.numbers:nth-child(1) {
    transform: rotate(90deg);
}

.numbers:nth-child(2) {
    transform: rotate(180deg);
}

.numbers:nth-child(3) {
    transform: rotate(270deg);
}

.numbers:nth-child(4) {
    transform: rotate(0deg);
}

.numbers-posithion-1,
.numbers-posithion-2,
.numbers-posithion-3,
.numbers-posithion-4 {
    position: absolute;
    padding: 0;
}

.numbers-posithion-1 {
    transform: rotate(270deg);
    left: 0;
    top: 0;
}

.numbers-posithion-2 {
    transform: rotate(180deg);
}

.numbers-posithion-3 {
    transform: rotate(90deg);
    left: 5%;
}

.numbers-posithion-4 {
    transform: rotate(0deg);
}