* {
    margin: 0;
}

.clock {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: silver;
}

.clock-face {
    background-color: black;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    display: none;
}

.arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.arrow-hours {
    position: absolute;
    height: 130px;
    width: 10px;
    background: white;
    top: 50%;
    left: calc(50% - 5px);
    border-radius: 5px;
    transform-origin: top;
    transform: rotate(17deg);
}